@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #eb1ccc;
    --secundary: #95989a;
    --text-color: #fff;
    --text-secundary: #000;
    --text-tertiary: #5d5d5d;
}